<div class="row">
  <h1 class="subheader">
    {{ shoppingList.title }}
    <a class="edit-icon" href="#/circle/{{shoppingList.circle_id}}/shopping-list/{{shoppingList.id}}/edit">
      <i class="glyphicons glyphicon-pencil"></i>
  </h1>
  <p>{{ shoppingList.description }}</p>
  <p>Deadline: {{ shoppingList.deadline }}</p>
  <p>Moderator: <a href="#/user/{{shoppingList.moderator.id}}">{{ shoppingList.moderator.name }}</a></p>
</div>

<div class="row">
  <h3 class="subheader">Items</h3>
  <div class="form">
    <form class="form form-inline">
      <div class="form-group">
        <label class="sr-only" for="item-name">Name</label>
        <input type="text" class="form-control" id="item-name"
          placeholder="Name" ng-model="newItem.name"/>
      </div>
      <div class="form-group">
        <label class="sr-only">Amount</label>
        <input type="text" class="form-control" id="item-amount"
          placeholder="1" ng-model="newItem.amount"/>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="addItem(newItem)">Add item</button>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Buyer</th>
        <th>Price</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in shoppingList.items">
        <td>{{ item.amount }} x {{ item.name }}</td>
        <td><a href="#/user/{{item.buyer.id}}">{{ item.buyer.name }}</a></td>
        <td>{{ item.price }}</td>
        <td>{{ item.created_at }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3 class="subheader">Comments</h3>
  <form class="form" role="form" id="comment-form">
    <div class="form-group">
      <textarea id="comment-text" class="form-control"
          rows="3" cols="150" placeholder="Write your comment here"
          ng-model="newComment.text"></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-default" ng-click="sendComment(newComment)">Send</button>
    </div>
  </form>
  <div class="comment" ng-repeat="c in shoppingList.comments | orderBy: 'posted_at':true">
    <p>{{ c.text }}</p>
    <p class="text-muted">posted at {{ c.posted_at }} by <a href="#/user/{{c.author.id}}">{{ c.author.name }}</a>
  </div>
</div>
